@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap');

#wrapper {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
}

#navLinks {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

#drawerWrapper {
    display: none;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: rgb(206, 206, 206);
    /* color: green; */
}

img {
    height: 100px;
}

@media only screen and (max-width: 800px) {
    #wrapper {
        height: 100px;
        width: 100vw;
        /* background-color: blue; */
    }

    #navLinks {
        display: none;
    }

    #drawerWrapper {
        height: 100px;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: green; */
    }

    .MenuIcon {
        height: 50px;
    }

    img {
        height: 50px;
    }

    a {
        color: black;
        font-family: 'Noto Sans HK', sans-serif;
        font-weight: 700;
        text-transform: uppercase;    
    }
}