@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700&display=swap');

.footerWrapper {
    background: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.footerText {
    text-align: center;
    color: white;
    width: 85%;
}

.footerText > p {
    padding: 10px 0;
}

.footerText > a {
    margin: 20px;
}