@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap');

.App {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 700;
}

/* .Landing {
    height: 100vh;
    width: 100%;
    background-image: url("./Images/flowers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */